<%inherit file="/dashboard/templates/index.html" />
<%!from datetime import datetime %>
    
<%block name="content">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    


	<div id="main-container">
        
    <!-- <img src="${STATIC_URL}/buy/media/apt.jpeg" alt="Apartment" style="height:154px; width:230.5px"> -->
	
		<%include file="/dashboard/templates/nav_stacked.html" />

        <!-- Input value fields with advanced search button -->
		<div id="action-container">
            <h1>Buy</h1>
                <form>        
            <input id="PriceMin" type="text" placeholder="$min" name="priceMin" title="PriceMin" style="color:#ffffff;">
            -       
            <input id="PriceMax" type="text" placeholder="$max" name="priceMax" title="PriceMax" style="color:#ffffff;">
                    
            <br> 
                    
            <input id="Address" type="text" placeholder="Address" name="address" title="Address" style="color:#ffffff;">
                    
            <input id="City" type="text" placeholder="City" name="city" title="city" style="color:#ffffff;">
                    
            <input id="State" type="text" placeholder="State" name="State" title="State" style="color:#ffffff;">
                    
            <input id="Zip" type="text" placeholder="Zip" name="Zip" title="Zip" style="color:#ffffff;">

            <!-- Advanced Search link -->
            <a>
            <p id="AdvButton" >Advanced Search</p>
            </a>
                             
    <div id="Advanced" class="hidden">
        
<!--
            <input id="FNameField" type="text" placeholder="First Name" name="firstname" title="First Name" style="color:#ffffff;" onfocus="inputFocus(this)" onblur="inputBlur(this)">
            <input id="LNameField" type="text" placeholder="Last Name" name="lastname" title="Last Name" style="color:#ffffff;" onfocus="inputFocus(this)" onblur="inputBlur(this)">

-->
        
        <input id="BathroomNum" type="text" placeholder="Number of Bathrooms" name="BathroomNum" title="BathroomNum" style="color:#ffffff;">
        
        <input id="BedroomNum" type="text" placeholder="Number of Bedrooms" name="BedroomNum" title="BathroomNum" style="color:#ffffff;">
        
        <input id="Amenities" type="text" placeholder="Amenities" name="Amenities" title="Amenities" style="color:#ffffff;">
        
        <input id="MaleFemale" type="text" placeholder="Male / Female" name="MaleFemale" title="MaleFemale" style="color:#ffffff;">
            
        <input id="EmailField" type="text" placeholder="Email" name="email" title="Email" style="color:#ffffff;">
        <br>
        <input id="PhoneField1" type="text" placeholder="555" name="phone" title="555" style="color:#ffffff;">
-               
        <input id="PhoneField2" type="text" placeholder="555" name="phone" title="555" style="color:#ffffff;">
-             
        <input id="PhoneField3" type="text" placeholder="5555" name="phone" title="5555" style="color:#ffffff;">

        </form>
</div>
            
		<footer>
            Copyright &copy; ${ datetime.now().year } Candor Contracts
        </footer>

	</div>
</%block>

<%block name="footer">
	<div></div>
</%block>