<%inherit file="/dashboard/templates/index.html" />
<%!from datetime import datetime %>

<%block name="navigation">
    ## <div class="navbar-margin">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="${ STATIC_URL }homepage/media/candor.png" />
                        <span class="brand-text">
                            % if environment != '/var/www/candor':
                                Candor Contracts Dev
                            % else:
                                Candor Contracts
                            % endif
                        </span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li> -->
                        ## <li class="social-links">
                        ##     <a class="social" target="_blank" href="https://www.facebook.com/candorcontracts"><img src="${ STATIC_URL }homepage/media/facebook.png" /></a>
                        ##     <a class="social" target="_blank" href="https://plus.google.com/113660936428650731143/posts"><img src="${ STATIC_URL }homepage/media/google-plus.png" /></a>
                        ##     <a class="social" target="_blank" href="https://www.youtube.com/channel/UCXyFif0645OPd5TZvynb-sQ"><img src="${ STATIC_URL }homepage/media/youtube.png" /></a>
                        ## </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li> -->
                        ## <%block name="rightlinks">
                            <li><a href="/">Home</a></li>
                            <li><a href="/homepage/#about">About</a></li>
                            <li><a href="/homepage/#contact">Contact</a></li>
                        ## </%block>
                        %if 'user' not in request.session:
                            <li><a href="#" class="sign-in">Sign In</a></li>
                        %else:
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="name">Hello, ${ request.session['user']['name'][0] }</span><span class="account">Your Account</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/accounts/">Account</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" onclick=signOut()>Logout</a></li>
                                </ul>
                            </li>
                        %endif
                        ## <li><div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    ## </div>
</%block>

<%block name="content">
	<div id="main-container">

		<%include file="/dashboard/templates/nav_stacked.html" />

    <h1>Your Posted Contracts</h1>

		<div id="action-container">
      <ul>
        %if len(posts) == 0:
          <p>You don't have any posts right now.</p>
        %else:
          %for post in posts:
            <!-- FIXME: Remove the style below. It's just a temporary fix. -->
            <% post_url = "/sell/edit_post/{}".format(post.id) %>
            <% status_url = "/sell/edit/{}-".format(post.id) %>
            <li><a href=${ post_url } style="color:black">${ post.title }</a>&nbspStatus: ${ post.status.capitalize() }&nbsp(Mark as <a href=${ status_url + "active" } style="color:black">Active</a>, <a href=${ status_url + "inactive" } style="color:black">Inactive</a> or <a href=${ status_url + "sold" } style="color:black">Sold</a>)</li>
          %endfor
        %endif
      </ul>
		</div>

		<footer>Copyright &copy; ${ datetime.now().year } Candor Contracts</footer>

	</div>
</%block>

<%block name="footer">
	<div></div>
</%block>
