<%inherit file="/dashboard/templates/index.html" />
<%!from datetime import datetime %>

<%block name="content">
	<div id="main-container">

		<%include file="/dashboard/templates/nav_stacked.html" />

    <h1>Your Posted Contracts</h1>

		<div id="action-container">
      <ul>
        %if len(posts) == 0:
          <p>You don't have any posts right now.</p>
        %else:
          %for post, options in posts.items():
            <!-- FIXME: Remove the style below. It's just a temporary fix. -->
            <% post_url = "/sell/edit_post/{}".format(post.id) %>
            <% status_url = "/sell/edit/{}-".format(post.id) %>
            <li><a href=${ post_url } style="color:black">${ post.title }</a> Status: ${ post.status.capitalize() }
							 (Mark as <a href=${ status_url + options[0] } style="color:black">${ options[0].capitalize() }</a>
							 or <a href=${ status_url + options[1] } style="color:black">${ options[1].capitalize() }</a>)</li>
          %endfor
        %endif
      </ul>
		</div>

		<footer>Copyright &copy; ${ datetime.now().year } Candor Contracts</footer>

	</div>
</%block>

<%block name="footer">
	<div></div>
</%block>
