<%inherit file="base.htm" />

<%block name="title">
	<title>Candor Contracts</title>
</%block>

<%block name="content">
    <a class="brand" style="position: absolute; top: 0; left: 0; z-index: 5;text-decoration: none;" href="/">
    	<img src="${ STATIC_URL }homepage/media/candor.png" style="width: 130px; height: auto; display: inline-block;"/>
    	<span class="brand-text" style="color:#FFFFFF;font-size:18px;line-height: 20px;">
            % if environment != '/var/www/candor':
                Candor Contracts Dev
            % else:
                Candor Contracts
            % endif
        </span>
   	</a>
	<ul class="social-links">
		<li>
	        <a class="social" target="_blank" href="https://www.facebook.com/candorcontracts"><img src="${ STATIC_URL }homepage/media/facebook-4-64.png" /></a>
	        <a class="social" target="_blank" href="https://plus.google.com/113660936428650731143/posts"><img src="${ STATIC_URL }homepage/media/google-plus-4-64.png" /></a>
	        <a class="social" target="_blank" href="https://www.twitter.com"><img src="${ STATIC_URL }homepage/media/twitter-4-64.png" /></a>
	        <a class="social" target="_blank" href="https://www.youtube.com/channel/UCXyFif0645OPd5TZvynb-sQ"><img src="${ STATIC_URL }homepage/media/youtube-4-64.png" /></a>
	    </li>
    </ul>
	<div id="main-container">
		<div class="home-background">
			<video muted autoplay width="100%" height="100%" style="visibility: visible;" id="" class="" data-reactid="">
				<source src="https://youtube.com/watch?v=UOBnw9KUE5M" type="video/mp4" id="" class="" data-reactid="">
				Your browser does not support the video tag.
			</video>
		</div>
		<div class="overlay">
			<span class="award">Top 20 finalst in 2015 Utah Entrepreneurship challenge</span>
			## <div id="candor-container">
			## 	<img src="${ STATIC_URL }homepage/media/candor.png" />
			## 	<span id="candor">Candor</span>
			## 	<span id="contracts">Contracts</span>
			## </div>
			## <span class="space"></span>
			<p class="description">We will sell your apartment contract for you!</p>
			<span class="tagline">Pay only when it sells</span>
			%if 'user' not in request.session:
				<a href="#" class="start-here">Get Started</a>
			%else:
				<a href="/dashboard/" class="start-here">Get Started</a>
			%endif

			%if 'user' not in request.session:
				<div id="login-slide">
	                <link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/bootstrap-social.css" />
					<div class="close">x</div>

					<div id="login-container">
						<span class="login-text">Login with your Google or Facebook account</span>
						<div class="btn-wrapper">	
							<div id="my-signin2" class="btn btn-block btn-social btn-google" data-onsuccess="onSignIn">
								<i class="fa fa-google"></i> Sign in with Google
							</div>

							<span class="spacer"></span>

							<a class="btn btn-block btn-social btn-facebook" data-onsuccess="onSignIn">
								<i class="fa fa-facebook"></i> Sign in with Facebook
							</a>
						</div>
					</div>

	                ## <li><div class="g-signin2" data-onsuccess="onSignIn"></div></li>
	                ## <li><a href="https://accounts.google.com/o/oauth2/auth?client_id=267671914850-gtsdijk1ela2bc5076t6alla50m2t2ad&redirect_uri=${ request.META['wsgi.url_scheme']}://${ request.META['HTTP_HOST'] }&response_type=code&scope=openid+email+profile">Google</a></li>

				</div>
			%endif
		</div>
	</div>

	<div class="page-panel white">
		<div id="about" class="container">
			<div class="col-sm-12 col-md-8 header-panel">
				<h2 class="page-header slide">How does Candor work?</h2>
				<p>When you get stuck in an apartment contract Candor is a tool that finds a tenant to take it and sells it to them. </p>
				<p>The best part is you only pay Candor if we sell it for you!</p>
				<a href="/dashboard/" class="btn">Sell your contract now</a>
			</div>
		</div>
		<div class="container">
			<div class="col-sm-12 col-md-6">
			</div>
			<h2 class="page-header" style="color: #E84F4F; text-transform: uppercase; font-weight: 800; letter-spacing: 7px;">Sell your contract in three easy steps:</h2>
			<div class="list-container">
				<div class="list-item col-sm-12 col-md-6 col-lg-4">
					<span class="title bubble">Post your contract</span>
					<div class="list-item-description">
						To post your contract all you have to do is answer 7 basic questions and give us a bit of info so we can keep in touch. 
					</div>
				</div>
				<div class="list-item col-sm-12 col-md-6 col-lg-4">
					<span class="title bubble">We sell it for you</span>
					<div class="list-item-description">
						Kick back and relax and let candor do the work matching you to a buyer, we'll shoot you an email when there is a match.
					</div>
				</div>
				<div class="list-item col-sm-12 col-md-6 col-lg-4">
					<span class="title bubble">Pay $20 when it sells</span>
					<div class="list-item-description">
						The best part is you only pay when it is sold, and you can cancel at any time.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-panel transparent parallax-window" data-parallax="scroll" data-image-src="${ STATIC_URL }homepage/media/team.jpg">
		<div id="about" class="container">
			<div class="col-sm-12 col-md-6 pull-right header-panel">
				<h2 class="page-header slide">About Us</h2>
					<p>We're BYU and BYU-I Students (probably like you) with a vision of making buying and selling apartment contracts incredibly easy and risk free. So we created Candor.</p>
					<p>The first apartment contract selling service (that we are aware of).</p>
					<p>We're here to serve you. If you want our long winded introduction go ahead and click the button...</p>
				<a href="#" class="btn white">Our story</a>
			</div>
		</div>
		<div id="meet-us">
			<div class="col-sm-12 col-md-8 header-panel">
				<div class="col-sm-12 col-md-6">
					<div class="founder">
						<div class="founder-img" style="background-image:url('${ STATIC_URL }homepage/media/bruce_peck.jpg')"></div>
						<div class="founder-description">
							<span class="name">Bruce Peck</span>
							<span class="title">Co-Founder and Marketing</span>
							This is Bruce. He is awesome! He has a huge passion for helping solve students problems and wants to do everything he can to make this project succeed. Bruce has backgrounds in entrepenuership and marketing which he uses to help push this project along. He has created great relationships with many individuals and apartment complexes in relation to Candor.
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="founder">	
						<div class="founder-img" style="background-image:url('${ STATIC_URL }homepage/media/daniel.jpg')"></div>
						<div class="founder-description">
							<span class="name">Daniel Wyatt</span>
							<span class="title">Co-Founder and Development</span>
							This is Daniel and he is likewise awesome. We became business partners thanks to the internet. He’s a student at BYU and a father of one kid and also this website. He is an Information Systems major and knows how to make coding magic happen. When your contract sells due to Candor you can thank him, if it doesn’t, well, you can talk to me.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-panel" style="background-image: url(${ STATIC_URL }homepage/media/outside.jpg); background-size: cover;">
		<div class="container">
			<div class="col-sm-12 col-md-5 pull-right header-panel">
				<h2 class="page-header">We'll find someone while your doing...<br>whatever you want</h2>
				<a href="/dashboard/" class="btn white">Sell your contract now</a>
			</div>
		</div>
	</div>

	<div class="page-panel off">
		<div id="contact" class="container">
			<h2 class="page-header">Contact Us</h2>
			<div class="col-sm-12 col-md-6">
				We would love to hear from you! If you have a great idea that would help you to sell your contract easier or just want to say hi, send us a message. This may look like a normal contact us form, but it’s not, because we actually want you to contact us. Seriously. Give us a call or send us a message.
				<br><br>
				<b>Email</b> - <a href="mailto:support@candorcontracts.com">support@candorcontracts.com</a>
				<br>
				<b>Phone</b> - (801) 960-2140
			</div>
			<div class="col-sm-12 col-md-6">
				<form id="contact-form" method="POST" action="/homepage/index.contact/">
					<label>Send us a message here</label>
					${ contact }
					## <sup>*Your email will not be used for anything other than to contact you when Candor is ready to be tested</sup>
					<input type="submit" class="btn send" value="Send" />
					<input type='hidden' name='csrfmiddlewaretoken' value='${ csrf_token }' />
				</form>
			</div>
		</div>
	</div>

</%block>