<%inherit file="base.htm" />

<%block name="title">
	<title>Candor Contracts</title>
</%block>

<%block name="content">

	<div id="main-container">
		<div class="home-background"></div>
		<div class="overlay">
			## <span id="coming-soon">coming soon</span>
			<div id="candor-container">
				<img src="${ STATIC_URL }homepage/media/candor.png" />
				<span id="candor">Candor</span>
				<span id="contracts">Contracts</span>
			</div>
			## <span class="space"></span>
			<!-- <form id="sign-up" method="POST" action="/homepage/index.register/">
				<label>Sign up for early registration</label>
				<span><input type="text" name="firstname" id="first-name" placeholder="First Name"/></span>
				<span><input type="text" name="lastname" id="last-name" placeholder="Last Name" /></span>
				<span><input type="email" name="email" id="email" placeholder="Email" /></span>
				<sup>*Your email will not be used for anything other than to contact you when Candor is ready to be tested</sup>
				<input type="submit" class="btn btn-primary" value="Sign Up" />
			</form> -->
			## <form id="sign-up" method="POST" action="/homepage/index.register/">
			## 	<label>Sign up for early registration</label>
			## 	${ form }
			## 	<sup>*Your email will not be used for anything other than to contact you when Candor is ready to be tested</sup>
			## 	<input type="submit" class="btn btn-primary" value="Sign Up" />
			## 	<input type='hidden' name='csrfmiddlewaretoken' value='${ csrf_token }' />
			## </form>
			<span class="freedom">Freedom is just around the corner</span>
			<button class="start-here">Start Here</button>
			<div id="login-slide">
                <link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/font-awesome.css" />
                <link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/bootstrap-social.css" />
				<div class="close">x</div>

				<div id="login-container">
					<span class="login-text">Login with your Google or Facebook account</span>
					<div class="btn-wrapper">	
						<div class="btn btn-block btn-social btn-google" data-onsuccess="onSignIn">
							<i class="fa fa-google"></i> Sign in with Google
						</div>
						
						<span class="spacer"></span>

						<a class="btn btn-block btn-social btn-facebook" data-onsuccess="onSignIn">
							<i class="fa fa-facebook"></i> Sign in with Facebook
						</a>
					</div>
				</div>

                ## <li><div class="g-signin2" data-onsuccess="onSignIn"></div></li>
                ## <li><a href="https://accounts.google.com/o/oauth2/auth?client_id=267671914850-gtsdijk1ela2bc5076t6alla50m2t2ad&redirect_uri=${ request.META['wsgi.url_scheme']}://${ request.META['HTTP_HOST'] }&response_type=code&scope=openid+email+profile">Google</a></li>

			</div>
		</div>
	</div>

	<div class="page-panel blue">
		<div id="about" class="container">
			<div class="col-sm-12 col-md-6">
				<h2 class="page-header">What is Candor</h2>

				## Candor is a platform that strives to deliver the greatest, simplest, most beautiful way to escape or find your apartment contract. Candor started because one afternoon two students were trying to solve a problem that they themselves had dealt with, along with many of their friends.

				Candor is a tinder like website for college students and apartment complexes to buy and sell their apartment contracts, faster and easier than it has ever been before. 
				<br><br>
				The Story of Candor: 
				<br><br>
				Let’s go back to the fall of 2014, shall we? Bruce’s roommate, we’ll call him Skyler (because that is his name) was literally yelling at his tablet. Why was he yelling at his tablet you ask? Because he had just paid 10$ to a website (which we will call notcandorcontracts.com)  that didn’t work to try to sell his apartment contract...and he wasn’t getting his money back. “I wonder what would happen if we built a website that actually sold your contract really fast?” thought Bruce. So more than six months, a business competition or two and hours of blood and sweat and toil later, we present to you,
				<br><br>
				Candor.
				<br><br>
				Ps: Now would be an appropriate time to let out an “ooo” or an “ahhh”
			</div>
			<div class="col-sm-12 col-md-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/UkDhSjSuJfM" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div class="page-panel white">
		<div class="container">
			<div class="col-sm-12 col-md-6">
			</div>
			<div class="col-sm-12 col-md-6">
				<h2 class="page-header">Sell within days instead of weeks</h2>
			</div>
			<div class="list-container">
				<div class="list-item">
					<div class="list-item-img" style="background-image:url('${ STATIC_URL }homepage/media/facebook-128 (1).png')"></div>
					<div class="list-item-description">
						<span class="title">Post to where you need</span>
						Post to KSL, Craigslist, and Facebook all from one easy location all at the same time for free. People will be redirected from those sites back to your posting for easy central access to everything that's going on with your contract.
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-img" style="background-image:url('${ STATIC_URL }homepage/media/conference-128 (1).png')"></div>
					<div class="list-item-description">
						<span class="title">Get seen by the right people</span>
						By partnering with apartment complexes, blogs, Facebook groups and others, Candor provides focused traffic of people that actually want to buy your contract. We work hard to find the people, so you, my friend, don’t have to.
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-img" style="background-image:url('${ STATIC_URL }homepage/media/message-2-128 (1).png')"></div>
					<div class="list-item-description">
						<span class="title">Easy messaging</span>
						Candor allows for very simple messaging between you and the buyer, no need to exchange phone numbers or email addresses. And, Candor let’s you know how interested the buyer is on a scale of 1 to 10 (wouldn’t that feature be nice for dating…).
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-img" style="background-image:url('${ STATIC_URL }homepage/media/speed-128 (1).png')"></div>
					<div class="list-item-description">
						<span class="title">Speed up the process</span>
						Candor Pro allows you to search out people who are looking for your type of contract and message them proactively. It also allows you to set up an incentive for someone to buy your contract (ex. paying for first month’s rent) and post a video of a tour of your apartment to set you apart.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-panel off">
		<div class="container">
			<div class="col-sm-12 col-md-6">
				<h2 class="page-header">Find available contracts instantly</h2>
			</div>
			<div class="col-sm-12 col-md-6">
			</div>
			<div class="list-container">
				<div class="list-item">
					<div class="list-item-img" style="background-image:url('${ STATIC_URL }homepage/media/paper-128.png')"></div>
					<div class="list-item-description">
						<span class="title">Find the perfect contract for you</span>
						Whether you want to get into an apartment complex that is full (perhaps to live a bit closer to you know who), find a deal on a contract (if you need a little extra Ramen money) or get a contract at an odd time of the year, Candor can help you out.
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-img" style="background-image:url('${ STATIC_URL }homepage/media/horizontal-swipe-128.png')"></div>
					<div class="list-item-description">
						<span class="title">Simple, easy, and beautiful</span>
						Candor is the swiss army knife of apartment websites. No more searching through dozens of websites, writing comparison charts, calling to see what available or trying to manually narrow down options. Candor does it for you, just say what you're looking for, and swipe left till you find it.
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-img" style="background-image:url('${ STATIC_URL }homepage/media/checked-user-128.png')"></div>
					<div class="list-item-description">
						<span class="title">Know what you're getting into</span>
						AKA no more scammers! Candor partners with apartment complexes and can verify if the person selling the contract is real or fake, therefore, we will only show you the real ones. Also know what your new apartment expects of you by  seeing the rules associated with each complex.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-panel white">
		<div id="meet-us">
			<div class="col-sm-12 col-md-3">
				<div class="founder">
					<div class="founder-img" style="background-image:url('${ STATIC_URL }homepage/media/bruce_peck.jpg')"></div>
					<div class="founder-description">
						<span class="name">Bruce Peck</span>
						<span class="title">Co-Founder and Marketing</span>
						This is Bruce. He is awesome! He has a huge passion for helping solve students problems and wants to do everything he can to make this project succeed. Bruce has backgrounds in entrepenuership and marketing which he uses to help push this project along. He has created great relationships with many individuals and apartment complexes in relation to Candor.
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="founder">	
					<div class="founder-img" style="background-image:url('${ STATIC_URL }homepage/media/daniel.jpg')"></div>
					<div class="founder-description">
						<span class="name">Daniel Wyatt</span>
						<span class="title">Co-Founder and Development</span>
						This is Daniel and he is likewise awesome. We became business partners thanks to the internet. He’s a student at BYU and a father of one kid and also this website. He is an Information Systems major and knows how to make coding magic happen. When your contract sells due to Candor you can thank him, if it doesn’t, well, you can talk to me.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-panel off">
		<div id="contact" class="container">
			<h2 class="page-header">Contact Us</h2>
			<div class="col-sm-12 col-md-6">
				We would love to hear from you! If you have a great idea that would help you to sell your contract easier or just want to say hi, send us a message. This may look like a normal contact us form, but it’s not, because we actually want you to contact us. Seriously. Give us a call or send us a message.
				<br><br>
				<b>Email</b> - <a href="mailto:candorcontracts@gmail.com">candorcontracts@gmail.com</a>
				<br>
				<b>Phone</b> - (801) 960-2140
			</div>
			<div class="col-sm-12 col-md-6">
				<form id="contact-form" method="POST" action="/homepage/index.contact/">
					<label>Send us a message here</label>
					${ contact }
					## <sup>*Your email will not be used for anything other than to contact you when Candor is ready to be tested</sup>
					<input type="submit" class="btn btn-primary" value="Send" />
					<input type='hidden' name='csrfmiddlewaretoken' value='${ csrf_token }' />
				</form>
			</div>
		</div>
	</div>

</%block>