<%inherit file="base.htm" />

<%block name="title">
	<title>Candor Contracts</title>
</%block>

<%block name="content">

	<div id="main-container">
		<div class="home-background"></div>
		<div class="overlay">
			<span id="coming-soon">coming soon - this is dev and more</span>
			<div id="candor-container">
				<img src="${ STATIC_URL }homepage/media/candor.png" />
				<span id="candor">Candor</span>
				<span id="contracts">Contracts</span>
			</div>
			<span class="space"></span>
			<form id="sign-up">
				<label>Sign up for early registration</label>
				<span><input type="text" name="firstname" id="first-name" placeholder="First Name"/></span>
				<span><input type="text" name="lastname" id="last-name" placeholder="Last Name" /></span>
				<span><input type="email" name="email" id="email" placeholder="Email" /></span>
				<sup>*Your email will not be used for anything other than to contact you when Candor is ready to be tested</sup>
				<input type="submit" class="btn btn-primary" value="Sign Up" />
			</form>
		</div>
	</div>

	<div id="main-page">
		<h1 class="page-header">Welcome to Candor!</h1>
		<p id="description">
			<br>
			Thank you for visiting our site, as you can see, we're still under construction...
			<br><br>
			But...
			<br><br>
			In the very near future we will be delivering the greatest, simplest, most beautiful way to escape or find your apartment contract! Check out our intro video <a target="_blank" href="https://youtu.be/UkDhSjSuJfM">here</a>!
			<br><br>
			Please feel free to send us an email at <a href="mailto:candorcontracts@gmail.com">candorcontracts@gmail.com</a> and we'll get you an early invite to the Candor club.
			<br><br>
			Deal?
			<br><br>
			You know what they say about good things and taking time...
			<br><br>
			Talk to you soon.
			<br><br>
			Daniel<br>
			Josh<br>
			Micah<br>
			Bruce<br>
			<br><br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/UkDhSjSuJfM" frameborder="0" allowfullscreen></iframe>
		</p>
	</div>

</%block>