<%inherit file="base.htm" />

<%block name="title">
	<title>Candor Contracts</title>
</%block>

<%block name="content">
	<link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/index.css" />
    <link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/bootstrap-social.css" />

    <div id="main-container">
		<div class="container">	
			<a href="/buy/" class="btn buy">
				<i class="fa fa-home"></i>
			</a>

			<a href="/sell/" class="btn sell">
				<i class="fa fa-usd"></i>
			</a>
		</div>
	</div>

</%block>