<nav class="navbar-stacked">
	<ul>
		<li class="toolbar-button buy" data-target="/buy/"><i class="fa fa-search fa-fw" style="position:relative;top:3px;"></i></li>
		<li class="toolbar-button compare" data-target="/buy/compare/"><i class="fa fa-home fa-fw" style="position:relative;top:3px;"></i></li>
		<span class="spacer"></span>
		<li class="toolbar-button post" data-target="/sell/post/"><i class="fa fa-plus fa-fw" style="position:relative;top:3px;"></i></li>
		<li class="toolbar-button edit" data-target="/sell/edit/"><i class="fa fa-pencil-square-o fa-fw" style="position:relative;top:3px;left:2px;"></i></li>
		<span class="spacer"></span>
		<li class="toolbar-button dashboard" data-target="/dashboard/"><i class="fa fa-dashboard fa-fw"></i></li>
		<li class="toolbar-button messages" data-target="/dashboard/messages/"><i class="fa fa-envelope fa-fw"><span class="badge badge-red">3</span></i></li>
		<li class="toolbar-button help" data-target="/dashboard/help/"><i class="fa fa-question-circle fa-fw" style="position:relative;"></i></li>
	</ul>
</nav>