#action-container {
    text-align: left;
}


#PriceMin {
    background-color: #282830;
    border-bottom: none;
    text-align: left;
    width: 8%;
}

#PriceMax {
    background-color: #282830;
    border-bottom: none;
    text-align: left;
    width: 8%;
}

#Address {
    background-color: #282830;
    border-bottom: none;
    width: 40%;
}

#City {
    background-color: #282830;
    border-bottom: none;
    width: 20%;
}

#State {
    background-color: #282830;
    border-bottom: none;
    width: 10%;
}

#Zip {
    background-color: #282830;
    border-bottom: none;
    width: 20%;
}

#AdvButton {
    color: black;
    text-align: right;
    cursor: pointer;
}

#Advanced {
    
}

.hidden{
    display:none;
}

.unhidden{
    display:block;
}

#FNameField {
    background-color: #282830;
    border-bottom: none;
    width: 50%;
}

#LNameField {
    background-color: #282830;
    border-bottom: none;
    width: 50%;
}

#EmailField {
    background-color: #282830;
    border-bottom: none;
    width: 70%;
}


#PhoneField1 {
    background-color: #282830;
    border-bottom: none;
    width: 10%;
    text-align: center;
}

 
#PhoneField2 {
    background-color: #282830;
    border-bottom: none;
    width: 10%;
    text-align: center;
}

#PhoneField3 {
    background-color: #282830;
    border-bottom: none;
    width: 12%;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}